
<!--<header class="fixed-top">



</header>
<main >
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select='.tr-nav'></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
     <ng-content select=".tr-router"></ng-content>
    </div>
    <footer>
      <ng-content select='.tr-form-message'></ng-content>
    </footer>
  </div>
</main>-->

<div class="row clearfix">
  <div class="col-lg-12">
      <div class="card chat-app">
        <div class="container">
         <app-page-list-canal></app-page-list-canal>
        </div>
      </div>
  </div>
</div>
